# pnpm
alias pn='pnpm'
alias pi='pnpm install'
alias pd='pnpm dev'
alias pt='pnpm test'
alias pb='pnpm build'
alias pu='pnpm update'
alias po='pnpm outdated'

# docker
alias dup='docker compose up -d'
alias ddown='docker compose down -v'

# utils
alias cat='bat'
alias ls='eza --color=auto --long --git --icons=always'
alias zs='source ~/.zshrc'
alias dotfiles='cd $DOTFILES && code .'
alias works='cd $WORKS'
alias rm='trash'
alias ip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias localip="ipconfig getifaddr en0"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -"
alias flushdns="sudo killall -HUP mDNSResponder"
alias emptytrash="trash -s -y"
alias cl="clear"
alias hf="huggingface-cli"

# neovim
alias vim='nvim'
alias vi='nvim'

# git
alias gwip='git stash push -u -m "WIP"'
alias gpop='git stash pop'

#python
alias python='python3'
alias pip='pip3'
alias py='python3'
alias py2='python2'
alias pir='pip install -r requirements.txt'

# django
alias dj='python manage.py'
alias djdd='python manage.py dumpdata'
alias djld='python manage.py loaddata'
alias djm='python manage.py migrate'
alias djsh='python manage.py shell'
alias djsm='python manage.py schemamigration'
alias djs='python manage.py syncdb --noinput'
alias djt='python manage.py test'
alias djrs='python manage.py runserver'

# ollama
alias llama='ollama run llama3'
