# pnpm
alias pi='pnpm install'
alias pd='pnpm dev'
alias pt='pnpm test'
alias pb='pnpm build'
alias pu='pnpm update'

# docker
alias dup='docker compose up -d'
alias ddown='docker compose down -v'

# utils
alias cat='bat'
alias zs='source ~/.zshrc'
alias dotfiles='cd $DOTFILES && code .'
alias rm='trash'
alias ip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias localip="ipconfig getifaddr en0"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -"
alias flushdns="sudo killall -HUP mDNSResponder"
alias emptytrash="trash -s -y"

# neovim
alias vim='nvim'
alias vi='nvim'

# git
alias gswip='git stash push -u -m "WIP"'
alias gspop='git stash pop'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
