# pnpm
alias pi='pnpm install'
alias pd='pnpm dev'
alias pt='pnpm test'
alias pb='pnpm build'
alias pu='pnpm update'

# docker
alias dup='docker compose up -d'
alias ddown='docker compose down -v'

# utils
alias cat='bat'
alias zs='source ~/.zshrc'
alias rm='trash'
alias ip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias localip="ipconfig getifaddr en0"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -"
alias flushdns="sudo killall -HUP mDNSResponder"
alias emptytrash="trash -s -y"

# neovim
alias vim='nvim'
alias vi='nvim'

# git
alias gswip='git stash push -u -m "WIP"'
alias gspop='git stash pop'

#python
alias python='python3'
alias pip='pip3'
alias py='python3'
alias pym='python manage.py'
alias pymdd='python manage.py dumpdata'
alias pymld='python manage.py loaddata'
alias pymm='python manage.py migrate'
alias pymsh='python manage.py shell'
alias pymsm='python manage.py schemamigration'
alias pyms='python manage.py syncdb --noinput'
alias pymt='python manage.py test'
alias pymrs='python manage.py runserver'
