config:
  backup: false
  banner: false
  create: true
  dotpath: ~/.dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
profiles:
  default:
    dotfiles:
    # Zsh configuration files
    - d_zsh_plugins
    - f_zsh_aliases
    - f_zsh_completions
    - f_zsh_functions
    - f_zsh_settings
    - f_zprofile
    - f_zshenv
    - f_zshrc

    # Other configuration files
    - d_aerospace
    - d_bat
    - d_btop
    - d_eza
    - d_fastfetch
    - d_gh
    - d_gh-copilot
    - d_ghostty
    - d_git-cliff
    - d_gitkraken_themes
    - d_k9s
    - d_lazydocker
    - d_lazygit
    - d_nvim
    - d_starship
    - d_warp
    - d_yazi
    - d_zed
    - f_curlrc
    - f_gitconfig
    - f_gitignore_global
    - f_gpg-agent
    - f_sdkman
    - f_ssh
    - f_wgetrc

    # Scripts directory
    - d_scripts

  macos:
    dotfiles:
    - f_vscode_custom_js
    - f_vscode_custom_css

      # Default profile vscode configuration files
    - d_vscode_snippets
    - f_vscode_settings
    - f_vscode_extensions
    - f_vscode_keybindings

dotfiles:
  d_zsh_plugins:
    src: config/zsh/plugins
    dst: ~/.config/zsh/plugins
  f_zsh_aliases:
    src: config/zsh/aliases.zsh
    dst: ~/.config/zsh/aliases.zsh
  f_zsh_completions:
    src: config/zsh/completions.zsh
    dst: ~/.config/zsh/completions.zsh
  f_zsh_functions:
    src: config/zsh/functions.zsh
    dst: ~/.config/zsh/functions.zsh
  f_zsh_settings:
    src: config/zsh/settings.zsh
    dst: ~/.config/zsh/settings.zsh
  f_zprofile:
    src: config/zsh/zprofile
    dst: ~/.zprofile
  f_zshenv:
    src: config/zsh/zshenv
    dst: ~/.zshenv
  f_zshrc:
    src: config/zsh/zshrc
    dst: ~/.zshrc
  d_aerospace:
    src: config/aerospace
    dst: ~/.config/aerospace
  d_bat:
    src: config/bat
    dst: ~/.config/bat
  d_btop:
    src: config/btop
    dst: ~/.config/btop
  d_eza:
    src: config/eza
    dst: ~/.config/eza
  d_fastfetch:
    src: config/fastfetch
    dst: ~/.config/fastfetch
  d_gh:
    src: config/gh
    dst: ~/.config/gh
  d_gh-copilot:
    src: config/gh-copilot
    dst: ~/.config/gh-copilot
  d_ghostty:
    src: config/ghostty
    dst: ~/.config/ghostty
  d_git-cliff:
    src: config/git-cliff
    dst: ~/.config/git-cliff
  d_gitkraken_themes:
    src: config/gitkraken/themes
    dst: ~/.gitkraken/themes
  d_k9s:
    src: config/k9s
    dst: ~/.config/k9s
  d_lazydocker:
    src: config/lazydocker
    dst: ~/.config/lazydocker
  d_lazygit:
    src: config/lazygit
    dst: ~/.config/lazygit
  d_nvim:
    src: config/nvim
    dst: ~/.config/nvim
  d_starship:
    src: config/starship
    dst: ~/.config/starship
  d_warp:
    src: config/warp
    dst: ~/.warp
  d_yazi:
    src: config/yazi
    dst: ~/.config/yazi
  d_zed:
    src: config/zed
    dst: ~/.config/zed
  d_zsh:
    src: config/zsh
    dst: ~/.config/zsh
  f_curlrc:
    src: config/curlrc
    dst: ~/.curlrc
  f_gitconfig:
    src: config/gitconfig
    dst: ~/.gitconfig
  f_gitignore_global:
    src: config/gitignore_global
    dst: ~/.gitignore_global
  f_gpg-agent:
    src: config/gnupg/gpg-agent.conf
    dst: ~/.gnupg/gpg-agent.conf
  f_sdkman:
    src: config/sdkman.conf
    dst: ~/.sdkman/etc/config
  f_ssh:
    src: config/ssh.conf
    dst: ~/.ssh/config
  f_wgetrc:
    src: config/wgetrc
    dst: ~/.wgetrc
  d_scripts:
    src: scripts
    dst: ~/.scripts
  f_vscode_custom_js:
    src: config/vscode/custom.js
    dst: ~/Library/Application Support/Code/User/custom.js
  f_vscode_custom_css:
    src: config/vscode/custom.css
    dst: ~/Library/Application Support/Code/User/custom.css
  d_vscode_snippets:
    src: config/vscode/snippets
    dst: ~/Library/Application Support/Code/User/snippets
  f_vscode_settings:
    src: config/vscode/settings.json
    dst: ~/Library/Application Support/Code/User/settings.json
  f_vscode_extensions:
    src: config/vscode/extensions.json
    dst: ~/.vscode/extensions/extensions.json
  f_vscode_keybindings:
    src: config/vscode/keybindings.json
    dst: ~/Library/Application Support/Code/User/keybindings.json
