# pnpm
alias pn='pnpm'
alias pi='pnpm install'
alias pd='pnpm dev'
alias pt='pnpm test'
alias pb='pnpm build'
alias pu='pnpm update'
alias po='pnpm outdated'

# neovim
alias vim='nvim' # use neovim as vim
alias vi='nvim' # use neovim as vi

#python
alias python='python3'
alias pip='pip3'
alias py='python3'
alias py2='python2'
alias pir='pip install -r requirements.txt'

# django
alias dj='python manage.py'
alias djdd='python manage.py dumpdata'
alias djld='python manage.py loaddata'
alias djm='python manage.py migrate'
alias djsh='python manage.py shell'
alias djsm='python manage.py schemamigration'
alias djs='python manage.py syncdb --noinput'
alias djt='python manage.py test'
alias djrs='python manage.py runserver'

# git
alias gs='git status'
alias gd='git diff'
alias gl='git log'
alias gc='git checkout'
alias gp='git push'
alias gm='git merge'
alias gpl='git pull --rebase'
alias gca='git add . && git commit --amend'

# docker
alias dk='docker'
alias dcup='docker compose up'
alias dcdown='docker compose down'

# utils
alias zs='source ~/.zshrc' # source zshrc
alias rm='trash' # move to trash
alias cat='bat -p' # cat with syntax highlighting
alias ls='eza -a --level=1 --icons' # ls with icons
alias ll="eza --icons --group-directories-first -l" # ls -l with icons
alias ip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias localip="ipconfig getifaddr en0" # get local ip address
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -" # test internet speed
alias flushdns="sudo killall -HUP mDNSResponder" # flush dns cache
alias pubkey="cat ~/.ssh/id_ed25519.pub | pbcopy | echo '=> Copied to pasteboard.'" # copy ssh public key to clipboard
alias lzd="lazydocker" # run Docker TUI
alias lzg="lazygit" # run Git TUI
alias llama='ollama run llama3' # run llama3
alias dotdrop='dotdrop --profile=default --cfg=$HOME/.dotfiles/.config/dotdrop/config.yml' # run dotdrop with custom config
